Es el momento de ponernos a trabajar con los valores nulos de nuevo üí™üèΩ. A lo largo de este ejercicio de pair programming vamos a intentar eliminar los valores nulos de nuestras columnas. En la lecci√≥n hemos aprendido varios m√©todos de skelarn intentemos aplicarlos todos. Manos a la obra!

In [2]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [6]:
df=pd.read_csv('/mnt/d/Adalab/ejercicios-de-adalab/modulo-2/7-limpieza-ficheros-mod-2/files/attacks_limpio_1.csv')
df.head(2)

,Unnamed: 0,case_number,year,type,country,activity,sex_,age,species_,fatal_(y/n)
0,0,2018.06.25,2018,Boating,usa,Paddling,F,57,White shark,N
1,1,2018.06.18,2018,Unprovoked,usa,Standing,F,11,NaN,N

1- Es el momento de eliminar los nulos:

    - Reemplazad los valores nulos de la columna age por la media de la edad usando el m√©todo SimpleImputer.

In [8]:
df_copy = df.copy()

In [10]:
nulos = pd.DataFrame((df_copy.isnull().sum() * 100) / df_copy.shape[0]).reset_index()
nulos.columns = ["columna", "porcentaje"]
nulos

       columna  porcentaje
0   Unnamed: 0    0.000000
1  case_number    0.015913
2         year    0.000000
3         type    0.063654
4      country    0.795672
5     activity    8.625080
6         sex_    8.975175
7          age   44.875875
8     species_   45.050923
9  fatal_(y/n)    8.497772

In [14]:
# df["age"] = pd.to_numeric(df["age"])
df_copy['age'] = pd.to_numeric(df_copy['age'])

ValueError: Unable to parse string "40s" at position 48

In [11]:
imputer = SimpleImputer(strategy='mean', missing_values=np.nan)

In [12]:
imputer = imputer.fit(df_copy[['age']])

ValueError: Cannot use mean strategy with non-numeric data:
could not convert string to float: '40s'

In [ ]:
df['age'] = imputer.transform(df[['age']])

In [ ]:
# comprobamos
df.isnull().sum()

    - Reemplazad los valores nulos de la columna sex por la moda, usando el m√©todo SimpleImputer.
                - Pista üí° La moda en este tipo de aproximaci√≥n se indica como most_frequent.

In [15]:
df.columns

Index(['Unnamed: 0', 'case_number', 'year', 'type', 'country', 'activity',
       'sex_', 'age', 'species_', 'fatal_(y/n)'],
      dtype='object')

In [ ]:
imputer = SimpleImputer(strategy='most frequent', missing_values=np.nan)

In [ ]:
imputer = imputer.fit(df[['sex_']])

In [ ]:
df['sex_'] = imputer.transform(df[['sex_']])

In [ ]:
df.isnull().sum()

    - Reemplazad los valores nulos de la columna type por el valor m√°s frecuente (la moda) con el m√©todo SimpleImputer.

In [ ]:
imputer = SimpleImputer(strategy='most frequent', missing_values=np.nan)

In [ ]:
imputer = imputer.fit(df[['sex_']])

In [ ]:
df['sex_'] = imputer.transform(df[['sex_']])

In [ ]:
df.isnull().sum()

    - Utilizad el m√©todo KNN Imputer para reemplazar todos los valores nulos de las columnas num√©ricas.

In [ ]:
imputerKNN = KNNImputer(n_neighbors=5)
imputerKNN.fit(numericas)

In [ ]:
numericas_knn= imputerKNN.transform(numericas)

In [ ]:
df_knn_imputer = pd.DataFrame(numericas_knn, columns = numericas.columns)
df_knn_imputer.head()

In [ ]:
df_knn_imputer
df.drop(columnas_knn, axis = 1, inplace = True)

In [ ]:
df[columnas_knn] = numericas_knn

In [ ]:
df.isnull().sum()

    - Utilizad el m√©todo Iterative Imputer para reemplazar todos los valores nulos de las columnas num√©ricas.

In [17]:
df.isnull().sum()

Unnamed: 0        0
case_number       1
year              0
type              4
country          50
activity        542
sex_            564
age            2820
species_       2831
fatal_(y/n)     534
dtype: int64

In [18]:
numericas = df.select_dtypes(include = np.number)

In [ ]:
imputer = IterativeImputer(n_nearest_features=None, imputation_order='ascending')

In [ ]:
imputer.fit(numericas)

In [ ]:
imputer.transform(numericas)

In [ ]:
numericas_trans = pd.DataFrame(imputer.transform(numericas), columns = numericas.columns)

In [ ]:
numericas_trans.isnull().sum()

    - ¬øPodr√≠ais explicar qu√© diferencia hay entre estos dos √∫ltimos m√©todos?

2- Guardad el csv para seguir trabajando con el en los siguientes ejercicios de pair