Lo primero que tenemos que evaluar es en que columnas tenemos nulos y que cantidad tenemos en cada una. ¿Hay alguna columna con una gran cantidad de nulos? En caso de que sea así deberemos eliminarla.
Es el momento de eliminar los nulos:
Reemplazad los valores nulos de la columna age por la media de la edad, redondeada a dos decimales.
En relación a la columna de country al tratarse de una columna de tipo categórica, reemplazad los valores nulos por una nueva categória 
Reemplazad los valores nulos de la columna fatal por Unknown.
Reemplazad los valores nulos de la columna type por el valor más frecuente (la moda).
Reemplazad los valores nulos de la columna fecha por Unknown.
Guardad el csv para seguir trabajando con el en los siguientes ejercicios de pair.

In [1]:
import pandas as pd
import seaborn as sns
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import sidetable

In [2]:
df = pd.read_csv("../FILES/attacks_limpio_3.csv", index_col = 0)

In [3]:
df_copy = df.copy()

In [4]:
df_copy.stb.missing()

             missing  total    percent
age             2850   6328  45.037927
month            914   6328  14.443742
fatal            628   6328   9.924147
activity         544   6328   8.596713
country           50   6328   0.790139
type               4   6328   0.063211
case_number        1   6328   0.015803
year               0   6328   0.000000
species_           0   6328   0.000000
gender             0   6328   0.000000

In [5]:
nulos = pd.DataFrame((df_copy.isnull().sum() * 100) / df_copy.shape[0]).reset_index()
nulos.columns = ["columna", "porcentaje"]
nulos

       columna  porcentaje
0  case_number    0.015803
1         year    0.000000
2         type    0.063211
3      country    0.790139
4     activity    8.596713
5          age   45.037927
6     species_    0.000000
7        month   14.443742
8        fatal    9.924147
9       gender    0.000000

Reemplazad los valores nulos de la columna age por la media de la edad, redondeada a dos decimales.

In [10]:

df['age'].fillna (df['age'].mean() ,inplace = True)
df["age"].isnull().sum() # comprobamos quela columna age ya no tiene ningun nulo

0

En relación a la columna de country al tratarse de una columna de tipo categórica que se llame Unknown.

In [13]:
df["country"].replace(np.nan, "Unknown", inplace = True)

In [15]:
df["country"].isnull().sum()

0

Reemplazad los valores nulos de la columna fatal por Unknown.

In [18]:
df["fatal"].replace(np.nan, "Unknown", inplace = True)

Reemplazad los valores nulos de la columna type por el valor más frecuente (la moda).

In [23]:
df['type'].fillna (df['type'].mode ,inplace = True)

In [24]:
df["type"].isnull().sum()

0

Reemplazad los valores nulos de la columna fecha por Unknown.

In [25]:
df["year"].replace(np.nan, "Unknow", inplace = True)

In [26]:
df["year"].isnull().sum()

0

Guardad el csv para seguir trabajando con el en los siguientes ejercicios de pair.

In [28]:
df.to_csv("../FILES/attacks_limpio_4.csv")