Lo primero que tenemos que evaluar es en que columnas tenemos nulos y que cantidad tenemos en cada una. ¿Hay alguna columna con una gran cantidad de nulos? En caso de que sea así deberemos eliminarla.
Es el momento de eliminar los nulos:
Reemplazad los valores nulos de la columna age por la media de la edad, redondeada a dos decimales.
En relación a la columna de country al tratarse de una columna de tipo categórica, reemplazad los valores nulos por una nueva categória 
Reemplazad los valores nulos de la columna fatal por Unknown.
Reemplazad los valores nulos de la columna type por el valor más frecuente (la moda).
Reemplazad los valores nulos de la columna fecha por Unknown.
Guardad el csv para seguir trabajando con el en los siguientes ejercicios de pair.

In [13]:
import pandas as pd
import seaborn as sns

In [14]:
import matplotlib.pyplot as plt
import numpy as np
import sidetable

In [15]:
df = pd.read_csv("/mnt/d/Adalab/ejercicios-de-adalab/modulo-2/7-limpieza-ficheros-mod-2/files/attacks_limpio_1.csv", index_col = 0)

In [16]:
df_copy = df.copy()

In [17]:
df_copy.stb.missing()

             missing  total    percent
species_        2831   6284  45.050923
age             2820   6284  44.875875
sex_             564   6284   8.975175
activity         542   6284   8.625080
fatal_(y/n)      534   6284   8.497772
country           50   6284   0.795672
type               4   6284   0.063654
case_number        1   6284   0.015913
year               0   6284   0.000000

In [18]:
nulos = pd.DataFrame((df_copy.isnull().sum() * 100) / df_copy.shape[0]).reset_index()
nulos.columns = ["columna", "porcentaje"]
nulos

       columna  porcentaje
0  case_number    0.015913
1         year    0.000000
2         type    0.063654
3      country    0.795672
4     activity    8.625080
5         sex_    8.975175
6          age   44.875875
7     species_   45.050923
8  fatal_(y/n)    8.497772

Reemplazad los valores nulos de la columna age por la media de la edad, redondeada a dos decimales.

In [31]:
df['age'].fillna (df['age'].mean() ,inplace = True)

TypeError: can only concatenate str (not "int") to str

In [ ]:
df.dtypes

case_number    object
year            int64
type           object
country        object
activity       object
sex_           object
age            object
species_       object
fatal_(y/n)    object
dtype: object

In [ ]:
df.head()

,case_number,year,type,country,activity,sex_,age,species_,fatal_(y/n)
0,2018.06.25,2018,Boating,usa,Paddling,F,57,White shark,N
1,2018.06.18,2018,Unprovoked,usa,Standing,F,11,NaN,N
2,2018.06.09,2018,Invalid,usa,Surfing,M,48,NaN,N
3,2018.06.08,2018,Unprovoked,australia,Surfing,M,NaN,2 m shark,N
4,2018.06.04,2018,Provoked,mexico,Free diving,M,NaN,"Tiger shark, 3m",N

In [ ]:
df['age'].fillna (df['age'].mean() ,inplace = True)

TypeError: can only concatenate str (not "int") to str

In [ ]:
# comprobamos quela columna age ya no tiene ningun nulo
nulos = pd.DataFrame((df.isnull().sum() * 100) / df.shape[0]).reset_index().round(2)
nulos.columns = ["columna", "porcentaje"]
nulos

En relación a la columna de country al tratarse de una columna de tipo categórica que se llame Unknown.

In [ ]:
df["country"].replace(np.nan, "Unknow", inplace = True)

In [ ]:
df.columns

Reemplazad los valores nulos de la columna fatal por Unknown.

In [ ]:
df["fatal_(y/n)"].replace(np.nan, "Unknow", inplace = True)

Reemplazad los valores nulos de la columna type por el valor más frecuente (la moda).

In [ ]:
df["type"].describe()

In [ ]:
df['type'].fillna (df['type'].mode ,inplace = True)

Reemplazad los valores nulos de la columna fecha por Unknown.

In [ ]:
df["year"].replace(np.nan, "Unknow", inplace = True)

Guardad el csv para seguir trabajando con el en los siguientes ejercicios de pair.

In [ ]:
df.to_csv("ataques_limpieza_nulos.csv")