In [1]:
import pandas as pd
import requests
from datetime import datetime, timedelta

In [2]:
df_attacks = pd.read_csv('../FILES/attacks_limpio_4.csv', index_col = 0)
df_etl2 = pd.read_csv('../FILES/df_ETL1_clima.csv', index_col = 0)

In [19]:
class Extraccion: 
    
    def __init__(self, lat, long, pais):
        self.pais = pais
        self.lat = lat
        self.long = long
        
    def llamada_API(self, producto):
        self.producto = producto
          
        url = f'http://www.7timer.info/bin/api.pl?lon=-{self.long}&lat={self.lat}&{producto}&output=json'
        response = requests.get(url=url)
        codigo_estado = response.status_code
        razon_estado = response.reason
        if codigo_estado == 200:
                print('La peticion se ha realizado correctamente, se ha devuelto el código de estado:',codigo_estado,
                  'y como razón del código de estado: ',razon_estado)
        elif codigo_estado == 402:
            print('No se ha podido autorizar usario, se ha devuelto el código de estado:', codigo_estado,
                  'y como razón del código de estado: ',razon_estado)
        elif codigo_estado == 404:
            print('Algo ha salido mal, el recurso no se ha encontrado,se ha devuelto el código de estado:',
                  codigo_estado,' y como razón del código de estado: ',razon_estado)
        else:
            print('Algo inesperado ha ocurrido, se ha devuelto el código de estado:', codigo_estado,
                  'y como razón del código de estado: ',razon_estado) 
        
        df =pd.DataFrame.from_dict(pd.json_normalize(response.json()['dataseries']))
        return df

In [20]:
clase_extraccion = Extraccion(39.7837304,-100.445882, 'usa')

In [21]:
df_meteo_usa = clase_extraccion.llamada_API('meteo')

La peticion se ha realizado correctamente, se ha devuelto el código de estado: 200 y como razón del código de estado:  OK

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [ ]:
df_meteo_usa = clase_extraccion.limpiar_meteo(df_meteo_usa)

In [8]:
df_meteo_usa.head(2)

   timepoint  cloudcover  highcloud       fecha pais
0          3           7      -9999  2023-01-11  usa
1          6           8      -9999  2023-01-11  usa

In [9]:
clase_extraccion = Extraccion(-24.7761086, 134.755,'australia')

In [17]:
df_meteo_australia = clase_extraccion.llamada_API('meteo')

La peticion se ha realizado correctamente, se ha devuelto el código de estado: 200 y como razón del código de estado:  OK

In [ ]:
df_meteo_australia = clase_extraccion.limpiar_meteo(df_meteo_australia)

In [19]:
df_meteo_australia.head(1)

   timepoint  cloudcover  highcloud       fecha       pais
0          3           2      -9999  2023-01-11  australia

In [28]:
clase_extraccion = Extraccion(-28.8166236, 24.991639,'south africa')

In [29]:
df_meteo_southafrica = clase_extraccion.llamada_API('meteo')

La peticion se ha realizado correctamente, se ha devuelto el código de estado: 200 y como razón del código de estado:  OK

In [ ]:
df_meteo_southafrica = clase_extraccion.limpiar_meteo(df_meteo_southafrica)

In [31]:
df_meteo_southafrica.head(1)

   timepoint  cloudcover  highcloud       fecha          pais
0          3           6      -9999  2023-01-11  south africa

In [33]:
clase_extraccion = Extraccion(5.6816069, -144.2489081,'papua new guinea')

In [36]:
df_meteo_newguinea = clase_extraccion.llamada_API('meteo')

La peticion se ha realizado correctamente, se ha devuelto el código de estado: 200 y como razón del código de estado:  OK

In [ ]:
df_meteo_newguinea = clase_extraccion.limpiar_meteo(df_meteo_newguinea)

In [38]:
df_meteo_newguinea.head(1)

   timepoint  cloudcover  highcloud       fecha              pais
0          3           1      -9999  2023-01-11  papua new guinea

In [41]:
clase_extraccion = Extraccion(-41.5000831, 144.2489081,'new zealand')

In [39]:
df_meteo_newzealand = clase_extraccion.llamada_API('meteo')

La peticion se ha realizado correctamente, se ha devuelto el código de estado: 200 y como razón del código de estado:  OK

In [ ]:
df_meteo_newzealand = clase_extraccion.limpiar_meteo(df_meteo_newzealand)

In [44]:
df_meteo_newzealand.head(2)

   timepoint  cloudcover  highcloud       fecha         pais
0          3           1      -9999  2023-01-11  new zealand
1          6           1      -9999  2023-01-11  new zealand

In [54]:
# UNIR DF'S
def_meteo_attacks = clase_extraccion.juntar_dfs(df_attacks, df_etl2)
def_meteo_attacks.head(2)

KeyError: 'fecha'